        .OpenIDPanel {	
	        width: 278px;
	        height: 55px;
	        padding: 5px;
	        border-top: 1px solid #609900;
	        font-family: Arial, Helvetica, sans-serif;
	        color: #222;
	        clear: both;
	        display: block;
	        margin: 0 auto;
	        overflow: hidden;
	        }
        .OpenIDPanel p {
	        margin: 0;
	        padding: 5px 0 8px 0;
	        text-align: left;
	        }
        .OpenIDPanel li {
	        border: none;
	        display: block;
	        float: left;
	        font-size: 1px;
	        width: 62px;
	        height: 24px;
	        line-height: 0px;
	        font-size: 1px;
	        text-indent: -999em;
	        cursor: pointer;
	        margin: 0px; 
	        padding: 0px;
	        margin-right: 7px;
	        }
	    .OpenIDPanel li a { margin: 0px; display: block; width: 100%; height: 100%; }

        	
        /* OpenID Icons */
        .OpenIDPanel li.Facebook {
	        background-image: url(../images/openid/openid_icon_facebook_u.png?dt=20110915);
	        background-repeat: no-repeat;	
	        }
        .OpenIDPanel li.Facebook:hover {
	        background-image: url(../images/openid/openid_icon_facebook_o.png?dt=20110915);
	        background-repeat: no-repeat;
	        }
        .OpenIDPanel li.Google {
	        background-image: url(../images/openid/openid_icon_google_u.png?dt=20110915);
	        background-repeat: no-repeat;	
	        }
        .OpenIDPanel li.Google:hover {
	        background-image: url(../images/openid/openid_icon_google_o.png?dt=20110915);
	        background-repeat: no-repeat;
	        }
        .OpenIDPanel li.Yahoo {
	        background-image: url(../images/openid/openid_icon_yahoo_u.png?dt=20110915);
	        background-repeat: no-repeat;	
	        }
        .OpenIDPanel li.Yahoo:hover {
	        background-image: url(../images/openid/openid_icon_yahoo_o.png?dt=20110915);
	        background-repeat: no-repeat;
	        }
        .OpenIDPanel li.MoLo {
	        background-image: url(../images/openid/openid_icon_molo_u.png?dt=20110915);
	        background-repeat: no-repeat;	
	        }
        .OpenIDPanel li.MoLo:hover {
	        background-image: url(../images/openid/openid_icon_molo_o.png?dt=20110915);
	        background-repeat: no-repeat;
	        }
        .OpenIDPanel li.Microsoft {
	        background-image: url(../images/openid/openid_icon_msn_u.png?dt=20110915);
	        background-repeat: no-repeat;	
	        }
        .OpenIDPanel li.Microsoft:hover {
	        background-image: url(../images/openid/openid_icon_msn_o.png?dt=20110915);
	        background-repeat: no-repeat;
	        }
        .OpenIDPanel li.RenRen {
	        background-image: url(../images/openid/openid_icon_renren_u.png?dt=20110915);
	        background-repeat: no-repeat;	
	        }
        .OpenIDPanel li.RenRen:hover {
	        background-image: url(../images/openid/openid_icon_renren_o.png?dt=20110915);
	        background-repeat: no-repeat;
	        }	 
        .OpenIDPanel li.Twitter {
	        background-image: url(../images/openid/openid_icon_twitter_u.png?dt=20110915);
	        background-repeat: no-repeat;	
	        }
        .OpenIDPanel li.Twitter:hover {
	        background-image: url(../images/openid/openid_icon_twitter_o.png?dt=20110915);
	        background-repeat: no-repeat;
	        }
		.OpenIDPanel li.QQ {
	        background-image: url(../images/openid/openid_icon_qq_u.png?dt=20110915);
	        background-repeat: no-repeat;	
	        }
        .OpenIDPanel li.QQ:hover {
	        background-image: url(../images/openid/openid_icon_qq_o.png?dt=20110915);
	        background-repeat: no-repeat;
	        }
		.OpenIDPanel li.KaiXin {
	        background-image: url(../images/openid/openid_icon_kaixin_u.png?dt=20110915);
	        background-repeat: no-repeat;	
	        }
        .OpenIDPanel li.KaiXin:hover {
	        background-image: url(../images/openid/openid_icon_kaixin_o.png?dt=20110915);
	        background-repeat: no-repeat;
	        }
	    .OpenIDPanel li.Sina {
	        background-image: url(../images/openid/openid_icon_sina_u.png?dt=20110915);
	        background-repeat: no-repeat;	
	        }
        .OpenIDPanel li.Sina:hover {
	        background-image: url(../images/openid/openid_icon_sina_o.png?dt=20110915);
	        background-repeat: no-repeat;
	        }