body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    background-image: url('steamim1.jpg');
    background-size: cover;
}

.text {
    position: fixed;
    bottom: 250px;
    right: 500px;
    padding: 20px;
    font-size: 18px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
}

.lcp {
    position: fixed;
    bottom: 250px;
    right: 500px;
    padding: 20px;
    font-size: 18px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.countdown {
    display: inline-block;
    border: 2px solid #333;
    padding: 20px;
    font-size: 24px;
    margin-top: 30px;
}

#countdown {
    font-weight: bold;
}
